div.navigation {
  /* background-color: rgb(228, 228, 228); */
  height: 120px;
}

.navigation-sub {
  display: flex;
  justify-content: space-between;
  margin-right: 5em;
  padding: 5px;
}
img.logo {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 150px;
  margin: 30px;
}

a.item {
  margin-top: 30px;
  text-decoration: none;
  cursor: pointer;
}

h1.projects-title {
  padding-top: 130px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

h1.title {
  display: flex;
  justify-content: center;
}

.MuiCard-root {
  width: 800px;
  padding-top: 3em;
}

.vertical-timeline::before {
  background: black;
}
