.navigation {
  background-color: #fff;
}

div.navigation-sub {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
  padding: 0;
}

.item {
  margin: 2em;
  text-decoration: none;
  cursor: pointer;
}

h1.projects-title {
  display: flex;
  justify-content: center;
}

h1.title {
  display: flex;
  justify-content: center;
}
