@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");

.MuiAppBar-colorPrimary {
  color: #00a86b;
}

div.navigation {
  /* background-color: rgb(228, 228, 228); */
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.navigation-sub {
  vertical-align: middle;
}

img.logo {
  float: left;
  width: 100px;
  height: 90px;
  position: relative;
}

a.item {
  margin-top: 30px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-right: 75px;
}
a.item:hover {
  background-color: #00a86b;
  border-radius: 5px;
  border-width: 5px;
  border-color: black;
  padding: 5px;
  color: white;
}

.title-intro {
  font-family: "Comfortaa", cursive;
}

.paragraph-intro {
  font-family: "Comfortaa", cursive;
}

.MuiCard-root {
  width: 800px;
  padding-top: 3em;
}

/* Vertical Timeline Styles */

.vertical-timeline::before {
  background: black;
}

img.mecoding {
  width: 400px;
  height: 400px;
}

.title-agency-intro {
  font-family: "Comfortaa", cursive;
}

.text-agency {
  text-align: center;
  padding-top: 100px;
  font-family: "Comfortaa", cursive;
}

img.imagemk {
  float: right;
}

img.mishopin {
  float: right;
  width: 74px;
  height: 64px;
  border-radius: 5px;
}

img.sistema {
  width: 74px;
  height: 74px;
}

img.mb {
  width: 88px;
  height: 74px;
}

/* @media screen and (max-width: 500px) {
  img.logo {
    width: 100px;
  }
} */
